.uni-chat-dropdown{
  max-height: 300px;
  overflow-y: auto;
  width: 340px;
  small{
    display: block;
    width: 340px;
    white-space: normal;
    max-height: 36px;
    overflow: hidden;
  }
}

.messages-header-title{
  background: #F4F4F4;
  padding: 2px 10px;
  position: relative;
  top: -3px;
}