<template name="uniChatDropdown">
    <ul class="dropdown-menu uni-chat-dropdown dropdown-menu-right">
        <li class="messages-header-title">Messages</li>
        {{#each $.UniChat.Messages.getUnreadedMessages}}
            <li>
                {{> uniChatDropdownEntry}}
            </li>
        {{/each}}
        <li>
            <a href="{{pathFor 'uniChatInbox' _id=''}}">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        Show all
                    </div>
                </div>
            </a>
        </li>
    </ul>
</template>

<template name="uniChatDropdownEntry">
    {{#with getChatroom}}
        <a href="#" class="js-open-chatroom">
            <strong>{{getTitle}}</strong>
            <br/>
            <small>
                {{../text}}
            </small>
        </a>
    {{/with}}
</template>

<template name="uniChatDropdownCount">
    {{#if countUreaded}}
        <em class="danger notif-count">
            {{countUreaded}}
        </em>
    {{/if}}
</template>
