<template name="uniChatInbox">
    <div class="container-fluid">
        <div class="uni-chat-inbox-toolbar row">
            <div class="title col-md-3">
                <span>Messages</span>
            </div>
            <div class="tools col-md-9">
                <div class="row">
                    <div class="tools-left col-md-12">
                        <a href="#" class="back-btn js-go-back">
                            <i class="fa fa-angle-left"></i>
                            <span>Back</span>
                        </a>
                        <!-- add-new is not implemented yet -->
                        <a href="#" class="add-new-btn hide">
                            <i class="fa fa-fw fa-pencil-square-o"></i>
                            <span>New</span>
                        </a>
                        <span class="tools-users-info js-users-dropdown">
                            <span class="users">
                                {{#each usersInActiveChatRoom 2}} <!-- number = limit -->
                                    <span class="name">{{getName}} <span>and</span></span>
                                {{/each}}
                            </span>
                            <i class="fa fa-fw fa-users"></i>
                            <span class="uni-chat-active-users-dropdown {{#if activeUsersDropdown}}active{{/if}}">
                                <span class="content">
                                    {{#each usersInActiveChatRoom}}
                                        <div class="clearfix item">
                                            <a class="uni-chat-avatar" href="{{getProfileUrl}}">
                                                {{> uniUserAvatar}}
                                            </a>
                                            <span class="uni-chat-avatar-nickname">{{getName}}</span>
                                        </div>
                                    {{/each}}
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="uni-chat-inbox-wrapper row">
            <div class="col-sm-3 uni-chat-inbox-nav">
                <div class="uni-chat-inbox-nav-search">
                    <input type="text" placeholder="Search.." class="form-control">
                    <a href="#" class="uni-chat-search-button">
                        <i class="fa fa-fw fa-search"></i>
                    </a>
                </div>
                {{> uniChatInboxNav}}
            </div>
            <div class="col-sm-9 uni-chat-inbox-chat">
                {{> uniChatInboxChat}}
            </div>
        </div>
    </div>
</template>

<template name="uniChatInboxNav">
    <div class="panel-inbox-nav js-adjust-height">
        {{#each $.UniChat.Chatrooms.getUserChatrooms}}
            {{> uniChatInboxNavEntry}}
        {{/each}}
    </div>
    <div class="panel-inbox-nav-footer"></div>
</template>

<template name="uniChatInboxNavEntry">
    <div class="uni-chat-inbox-item js-chatroom-entry {{#if isActive}}active{{/if}}">
        <div class="uni-chat-tools">
            <div class="uni-chat-date">{{lastMsgFormatedDate}}</div>
            <div class="uni-chat-unreaded-msgs">
                {{#if unreadedMsgCounter}}
                    <div class="uni-chat-counter">
                        {{unreadedMsgCounter}}
                    </div>
                {{/if}}
            </div>
        </div>
        <a href="#" class="title">
            {{getTitle}}
        </a>
        <p class="uni-last-msg-text">{{lastMsgText}}</p>
    </div>
</template>

<template name="uniChatInboxChat">
    {{#with $.UniChat.Chatrooms.getActiveChatroom}}
        <div class="panel-body-inbox-chat">
            {{> uniChatMessagesList}}
        </div>
    {{else}}
        <div class="panel-body-inbox-chat">
            <h3 class="panel-body-inbox-chat-msg">You didn't receive any messages yet</h3>
        </div>
    {{/with}}
</template>
