.panel-body-inbox-chat .messages,
.panel-inbox-nav {
  overflow-y: auto;
}

.panel-body-inbox-chat-msg {
    padding-left: 30px;
    padding-right: 30px;
}

.uni-chat-inbox-wrapper {
    background-color: #fff;
    .uni-chat-inbox-chat {
        padding: 0;
        border-left: 1px solid #e6e6e6;
    }
    .uni-chat-inbox-nav {
        padding: 0;
    }
}
.uni-chat-inbox-toolbar {
    background-color: #e6e6e6;
    line-height: 80px;
    height: 80px;
    .back-btn {
        margin-right: 50px;
    }
    .title, .tools {
        float: left;
    }
}
.uni-chat-inbox-item {
    cursor: pointer;
}
.uni-chat-inbox-item, .uni-chat-message {
    padding: 15px 20px;
    border-bottom: 1px solid #e6e6e6;
    .uni-chat-tools {
        font-size: 12px;
        float: right;
        text-align: right;
        .uni-chat-unreaded-msgs {
            .uni-chat-counter {
                height: 20px;
                padding-left: 7px;
                padding-right: 7px;
                background-color: #0055fe;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-weight: bold;
                color: #fff;
                margin-top: 5px;
            }
        }
    }
    .title {
        font-size: 16px;
    }
    p {
        margin: 0;
        padding: 0;
    }
    .uni-last-msg-text {
        font-size: 13px;
    }
    .uni-chat-avatar {
        img {
            width: 35px;
            height: 35px;
            border-radius: 100%;
        }
        .uni-user-avatar {
            &--default {
                // font awesome icon
                font-size: 40px;
            }
        }
    }
    .uni-chat-date {
        float: right;
        font-size: 12px;
    }
    .name-date {
        &:after, &:before {
            display: table;
            content: " ";
        }
        &:after {
            clear: both;
        }
    }
    &:after,
    &:before {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.widget-list .uni-chat-message {
    padding-left: 10px;
    padding-right: 10px;
    .uni-chat-text-container {
        padding-left: 5px;
    }
    .uni-chat-date {
        float: right;
        font-size: 12px;
    }
    &.ownMessage {
        .uni-chat-avatar-container {
            float: right;
        }
        .uni-chat-text-container {
            float: left;
            padding-left: 0;
        }
        .uni-chat-date {
            font-size: 12px;
            float: left;
        }
    }
    .name-date {
        margin-bottom: 5px;
        color: #808080;
        &:after, &:before {
            display: table;
            content: " ";
        }
        &:after {
            clear: both;
        }
    }
}

.uni-chat-messages-list-form {
    padding: 10px;
    background-color: darken(#fff, 5%);
    .input-group {
        margin-bottom: 0;
        input[type=text], .uni-msg-btn-send {
            height: 30px;
            padding: 5px;
            font-size: 13px;
        }
        .uni-msg-btn-send {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

// widget

.uni-chat-widget {
    margin: 0 5px 5px 25px;
    border: 1px solid #aaa;
    width: 300px;
    background-color: #fff;
    z-index: 99999;
    .panel-heading {
        height: 35px;
        line-height: 35px;
        padding: 0 10px;
        .uni-chat-widget-close-btn {
            &:hover, &:focus, &:active {
                color: inherit;
                text-decoration: none;
            }
        }
    }
    .media {
        margin-top: 0;
        padding: 0;
        &.ownMessage {
            background-color: #f5f5f5;
        }
    }
    .messages {
        height: 250px;
        overflow-y: scroll;
        .uni-msg-btn-send {
            margin-left: auto !important;
        }
    }
}

.uni-chat-inbox-nav-search {
    padding: 10px;
    position: relative;
    input[type=text] {
        height: 30px;
        padding: 5px;
        font-size: 13px;
        margin-bottom: 0;
    }
    .uni-chat-search-button {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #3d3d3d;
        font-size: 18px;
    }
}

.uni-chat-avatar-container {
    width: 45px;
    float: left;
}
.uni-chat-text-container {
    width: ~"calc(100% - 45px)";
    float: left;
    padding-left: 15px;
}

.tools-users-info {
    position: relative;
    cursor: pointer;

    .users .name:last-child {
        padding-right: 5px;
        span {
            display: none;
        }
    }
}
.uni-chat-active-users-dropdown {
    position: absolute;
    display: none;
    &.active {
        display: block;
    }
    top: 35px;
    right: 0;
    width: 250px;
    max-height: 400px;
    line-height: normal;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    text-align: left;
    .content {
        display: block;
        padding: 10px;
        color: #161616;
        cursor: default;
        .item {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .uni-chat-avatar {
        img {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            float: left;
            margin-right: 15px;
        }
    }
    .uni-chat-avatar-nickname {
        line-height: 35px;
    }
    &:after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent #fff transparent transparent;
        top: 0;
        right: 8px;
        display: block;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
