<template name="uniChatWidgetList">
    {{#unless isInbox}}
        {{#each $.UniChat.Chatrooms.getOpenedChatrooms}}
            <div class="chatWidget pull-right js-chat-widget">
                {{> uniChatWidget}}
            </div>
        {{/each}}
    {{/unless}}
</template>

<template name="uniChatWidget">
    <div class="uni-chat-widget panel panel-default panel-chat">
        <div class="panel-heading">
            <span>{{getTitle}}</span>
            <a href="#" class="js-hide-chat uni-chat-widget-close-btn pull-right">
                <span class="fa fa-fw fa-times"></span>
            </a>
            <a href="#" class="js-shrink-chat uni-chat-widget-shrink-btn pull-right">
                <span class="fa fa-fw fa-minus"></span>
            </a>
        </div>
        <div class="widget-list {{#if chatWidgetShrunken}}hidden{{/if}}">
            {{> uniChatMessagesList}}
        </div>
    </div>
</template>

<template name="uniChatMessagesList">
    <div class="messages js-adjust-height {{_id}}">
        <div class="uni-chat-messages-container js-uni-chat-messages-container">
            {{#each getMessages}}
                {{> uniChatMessage}}
            {{/each}}
        </div>
    </div>

    <div class="uni-chat-messages-list-form">
        {{> uniChatForm}}
    </div>
</template>

<template name="uniChatMessage">
    <div class="uni-chat-message {{#if isOwn}}ownMessage{{/if}}">
        <div class="media-body">
            {{#with getAuthor}}
                <div class="name-date">
                    <span class="uni-chat-date">{{fromNow ../ts}}</span>
                </div>
                <div>
                    <div class="uni-chat-avatar-container">
                        <a class="uni-chat-avatar" href="{{getProfileUrl}}">
                            {{> uniUserAvatar}}
                        </a>
                    </div>
                    <div class="uni-chat-text-container">
                        <p>{{getName}}</p>
                        <p>{{../text}}</p>
                    </div>
                </div>
            {{/with}}
        </div>
    </div>
</template>

<template name="uniChatForm">
    <form method="POST" action="#">
        <div class="input-group">
            <input type="text" autocomplete="off" class="js-text form-control" name="text">
            <span class="input-group-btn">
                <button type="submit" class="uni-msg-btn-send"><i class="fa fa-fw fa-reply"></i></button>
            </span>
        </div>
    </form>
</template>
